version: '3.8'

services:
  backend:
    build: ./backend
    container_name: optiroute-backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: optiroute-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000 
    restart: always